# env variables
.env

# virtualenv
.venv/

# pycache
**/__pycache__/

# vscode settings
.vscode

# Data
commuting_zones/
D&B/
mapping/
market_concentration/
geocode/
zips/

# RA instructions
instructions/
TODO.md
extras.py

# log
log/